{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expence Tracker</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/shorthandcss@1.1.1/dist/shorthand.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli:200,300,400,500,600,700,800,900&display=swap" />
    <link rel="stylesheet" type="text/css"href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css" />
    <link rel="stylesheet" type="text/css"href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />
</head>
<style>
    th,td{
        padding: 10px;
    }
    input[type=submit],input[type=reset] {
	    height: 30px;
        width: 100px;
	    color: #fff;
	    font-size: 15px;
	    background: rgb(196, 71, 67);
	    cursor: pointer;
	    border-radius: 15px;
    }
    input[type=text],[type=number],[type=password]{
        height: 28px;
        width: 200px;
        background-color: aliceblue;

    }

</style>

<body class="bg-black muli" style="height: auto;">
    <nav style="width: 100%;height: 70px;background-color:red;">
            <div style="width: 50%; height: 70px;float: left;padding-left: 25px;"> 
                <div style="width: 22%;background-color:rgb(0, 0, 0); height: 70px;float: left;padding-left: 20px;"> 
                    <img style="height: 80px" src="{% static 'images/log.png'%}" />
                </div>
                <div style="margin-left: 25%; height: 50px;text-align: left;padding-right: 30px;padding-top: 20px;">
                    <h1>&nbsp;EXPANCE TRACKER</h1>
                </div>
                
            </div>
            <div style="margin-left: 50%; height: 50px;text-align: right;padding-right: 30px;padding-top: 20px;">
               <b> <a href="home.html" class="fs-s1 mx-3 py-3 black no-underline hover-underline">Home</a>
                <a href="#features" class="fs-s1 mx-3 py-3 black no-underline hover-underline">Features</a>
                <a href="#pricing" class="fs-s1 mx-3 py-3 black no-underline hover-underline">Blogs</a>
                <a href="#blog" class="fs-s1 mx-3 py-3 black no-underline hover-underline">Contact Us</a></b>
            </div>
        </div>
    </nav>


    <div style="width: 100%;height: 380px;margin-top: 10px;margin-bottom:10px;border: 1px solid #000000";">
        <div style="width: 50%; height: 380px;float: left;border: 1px solid #000000"> 
            <!-- Register User -->
            <div style="border: 1px solid #003cff;width: 95%;height: 360px; padding: 20px;margin: 10px;">
                <center>
                    <form method="POST" action="reg" style="color:white ;">
                        {% csrf_token %}
                        <table style="padding: 10px;width: 95%;">
                            <tr>
                                <th colspan="2"><u>Register User</u></th>
                            </tr>
                            <tr>
                                <td>Name</td>
                                <td><input placeholder="User name" type="text" name="name" id="name"></td>
                                <td id="message"  style="color: red;width: 180px;" >{{msg1}}</td>
                            </tr>
                                <td>Payment</td>
                                <td><input placeholder="Amount to wallet" type="number" name="payment" id="payment"></td>
                                <td id="message1"  style="color: red;width: 180px;" >{{msg2}}</td>
                            </tr>
                            <tr>
                                <td>Password</td>
                                <td><input placeholder="At least 5 digit" type="password" name="password" id="password"></td>
                                <td id="message2"  style="color: red;width: 180px;" >{{msg3}}</td>
                            </tr>
                            <tr>
                                <td>Confirmation Password</td>
                                <td><input id="con_password" placeholder="Re-enter the password" type="password" name="con_password"></td>
                                <td id="message3"  style="color: red;width: 180px;" >{{msg4}}</td>
                            </tr>
                            <tr >
                                <td style="padding-left: 15%;height: 10px;text-align: center;"><input type="reset" value="Reset"></td>
                                <td style="padding-left: 15%;height: 10px;text-align: center;"><input onclick="check()" type="submit" value="Register"></td>
                            </tr>
                            <tr>
                                <td style="height: 20px;color: red;text-align: center;" colspan="3">{{msg5}}</td>
                            </tr>
                        </table>
                    </form>
                </center>
            </div>
        </div>
            
        <div style="margin-left: 50%;width: 50%; height: 380px;border: 1px solid #000000">
            <!-- Login User -->
            <div style="border: 1px solid #003cff;;width: 95%;height: 360px; padding: 20px;margin: 10px;">
            <center>
                <table style="color: white;text-align:center;align-items: center;margin-top: 25px; border:1px solid #00000000;padding: 10px;width: 65%">
                    <form method="POST" action="log">
                        {% csrf_token %}
                        <tr style="height: 40px;">
                            <th colspan="2"><b><u>Login</u></b></th>
                        </tr>
                        <tr>
                            <td>Name</td>
                            <td><input style="height:25px;width:200px" type="text" name="login_name"></td>
                        </tr>
                        <tr>
                            <td>Password</td>
                            <td><input style="height:25px;width:200px" type="text" name="login_password"></td>
                        </tr>
                        <tr>
                            <td><a href="#blog" class="fs-s1 mx-3 py-3 red no-underline hover-underline">Forgot password</a></td>
                            <td style="padding-left: 5%;height: 30px;" colspan="2"><input style="width: 150px" name="sub" type="submit" value="Login"></td>
                        </tr>
                        <tr>
                            <td style="height: 45px;color: red;text-align: center;" colspan="2">{{msg6}}</td>
                        </tr>   
                    </form>
                </table> 
            </center></div>
        </div>
    </div>
               
    <!-- footer -->
    <footer class=" md-p-l5 bg-indigo-lightest-10" style="height: 200px;">
        <div class="flex flex-wrap" style="height: 140px;margin-top: -60px;">
            <div class="md-w-25pc mb-10" style="padding-top: 10px">
                <img style="height: 65px;width: 100px;margin-left: 50px;" src="{% static 'images/logo1.jpg'%}" />
                <div class="white opacity-70 fs-s2 mt-4 md-pr-10">
                    <p>An expense tracker is a application that helps to keep an accurate record of your money inflow and outflow. </p>
                </div>
            </div>
            <div class="w-100pc md-w-50pc">
                <div class="flex justify-around">
                    <div class="w-33pc md-px-10 mb-10">
                        <h5 class="white">Company</h5>
                        <ul class="list-none mt-5 fs-s2">
                            <li class="my-3"><a href="#" class="white opacity-70 no-underline hover-underline">About
                                    Us</a></li>
                            <li class="my-3"><a href="#" class="white opacity-70 no-underline hover-underline">Jobs</a>
                            </li>
                            <li class="my-3"><a href="#"
                                    class="white opacity-70 no-underline hover-underline">Contact</a></li>
                            <li class="my-3"><a href="#" class="white opacity-70 no-underline hover-underline">Media</a>
                            </li>
                        </ul>
                    </div>
                    <div class="w-33pc md-px-10 mb-10">
                        <h5 class="white">Product</h5>
                        <ul class="list-none mt-5 fs-s2">
                            <li class="my-3"><a href="#" class="white opacity-70 no-underline hover-underline">About
                                    Us</a></li>
                            <li class="my-3"><a href="#" class="white opacity-70 no-underline hover-underline">Jobs</a>
                            </li>
                            <li class="my-3"><a href="#"
                                    class="white opacity-70 no-underline hover-underline">Contact</a></li>
                            <li class="my-3"><a href="#" class="white opacity-70 no-underline hover-underline">Media</a>
                            </li>
                        </ul>
                    </div>
                    <div class="w-33pc md-px-10 mb-10">
                        <h5 class="white">Support</h5>
                        <ul class="list-none mt-5 fs-s2">
                            <li class="my-3"><a href="#" class="white opacity-70 no-underline hover-underline">About
                                    Us</a></li>
                            <li class="my-3"><a href="#" class="white opacity-70 no-underline hover-underline">Jobs</a>
                            </li>
                            <li class="my-3"><a href="#"
                                    class="white opacity-70 no-underline hover-underline">Contact</a></li>
                            <li class="my-3"><a href="#" class="white opacity-70 no-underline hover-underline">Media</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="w-100pc md-w-25pc" style="padding-top: 30px;">
                <div class="flex w-75pc md-w-100pc mx-auto">
                    <input type="text"
                        class="input flex-grow-1 bw-0 fw-200 bg-indigo-lightest-10 white ph-indigo-lightest focus-white opacity-80 fs-s3 py-5 br-r-0"
                        placeholder="Email Address">
                    <button class="button bg-indigo indigo-lightest fw-300 fs-s3 br-l-0">Start</button>
                </div>
                <div class="flex justify-around my-8">
                    <a href="#" class="relative p-5 bg-indigo br-round white hover-scale-up-1 ease-400"><i
                            data-feather="twitter" class="absolute-center h-4"></i></a>
                    <a href="#" class="relative p-5 bg-indigo br-round white hover-scale-up-1 ease-400"><i
                            data-feather="facebook" class="absolute-center h-4"></i></a>
                    <a href="#" class="relative p-5 bg-indigo br-round white hover-scale-up-1 ease-400"><i
                            data-feather="instagram" class="absolute-center h-4"></i></a>
                </div>
            </div>
        </div>
    </footer> 
</body>
</html>